@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-lightsilver: #e2e8f033;
  --color-lightsilver2: #e2e8f04d;
  --color-bgdakrwhite: #ffffff0d;
  --color-red: #ef4444;
  --color-bgdarkblue: #020617cc;
  --color-bghoverblue: #15468F;

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
